{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-rational-order",
    "@wemake-services/stylelint-config-scss"
  ],
  "rules": {
    "scale-unlimited/declaration-strict-value": [
      "",
      {
        "disableFix": true
      }
    ]
  }
}
