.slider-config {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 70%;
  min-width: 260px;
  height: 100%;

  &__value {
    display: grid;
    grid-template-areas: 'description .' 'description .';
    align-items: center;
    justify-content: flex-start;

    &-description {
      grid-area: description;
      margin-right: 30px;
    }
  }
}
