include ../option/option

mixin slider-config(sliderName, hasScaleValueDescription)
  .slider-config.js-slider-config
    +option('isRange', sliderName)
    +option('hasTooltip', sliderName)
    +option('hasScale', sliderName)
    +option('hasValueInfo', sliderName)
    +option('isVertical', sliderName)
    +option('isResponsive', sliderName)
    +option('isScaleClickable', sliderName)
    +option('useKeyboard', sliderName)

    .slider-config__value
      span.slider-config__value-description value
      +option('value1', sliderName, 'text')
      +option('value2', sliderName, 'text')
    +option('stepSize', sliderName, 'text')
    +option('min', sliderName, 'text')
    +option('max', sliderName, 'text')
    +option('length', sliderName, 'text')
    +option({
      label: 'scaleValue',
      description: hasScaleValueDescription ? 'если массив, вводить значения через запятую' : null,
    }, sliderName, 'text')
