$default-font-family: arial, sans-serif !default;
$default-secondary-color: rgb(229, 299, 299) !default;

$sl-font-family: $default-font-family !default;
$sl-font-size: 10px !default;
$sl-secondary-color: $default-secondary-color !default;
$sl-main-color: rgb(161, 227, 234) !default;
$sl-main-border-color: rgb(140, 199, 205) !default;
$sl-main-text-color: rgb(21, 21, 21) !default;
$sl-secondary-text-color: rgb(42, 42, 42) !default;
$sl-smallest-z-index: -1 !default;

$demo-font-family: $default-font-family !default;
$demo-font-size: 18px !default;
$demo-text-color: rgb(0, 0, 0) !default;
$demo-background: rgb(255, 255, 255) !default;
$demo-secondary-color: $default-secondary-color !default;
