@import './variables';

.slider {
  $selector: &;

  position: relative;
  color: $sl-main-text-color;
  font-size: $sl-font-size;
  font-family: $sl-font-family;
  line-height: 12px;

  &__bar {
    background-color: $sl-secondary-color;

    &_clickable {
      cursor: pointer;
    }
  }

  &__progress-bar {
    background-color: $sl-main-color;
    opacity: 0.5;
  }

  &__thumb {
    top: 0;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: $sl-main-color;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  &__thumb_active {
    border: 1px solid $sl-main-border-color;
  }

  &__tooltip {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;

    &-value {
      position: absolute;
      padding: 2px;
      background-color: rgb(224, 248, 248);
    }
  }

  &__scale {
    z-index: $sl-smallest-z-index;
    box-sizing: border-box;
    color: $sl-secondary-text-color;

    &-element {
      &_clickable {
        cursor: pointer;
      }
    }
  }

  &__value-info {
    position: absolute;
  }

  &:not(&_vertical) {
    width: 100%;

    #{$selector}__bar {
      height: 5px;
    }

    #{$selector}__progress-bar {
      height: 100%;
    }

    #{$selector}__thumb {
      top: -2.5px;
    }

    #{$selector}__tooltip {
      top: -20px;
      justify-content: center;
    }

    #{$selector}__thumb_active {
      #{$selector}__tooltip {
        top: -21px;
      }
    }

    #{$selector}__scale {
      height: 12px;
      padding-top: 10px;
    }

    #{$selector}__value-info {
      top: -30px;
      left: 0;
    }
  }

  #{$selector}_vertical {
    height: 100%;

    #{$selector}__bar {
      width: 5px;
    }

    #{$selector}__progress-bar {
      width: 100%;
    }

    #{$selector}__thumb {
      left: -2.5px;
    }

    #{$selector}__tooltip {
      top: unset;
      right: -20px;
      align-items: center;
    }

    #{$selector}__thumb_active {
      #{$selector}__tooltip {
        top: unset;
        right: -21px;
      }
    }

    #{$selector}__scale {
      width: 12px;
      padding-top: 0;
      padding-left: 10px;
    }

    #{$selector}__value-info {
      top: 0;
      left: 40px;
      width: 100px;
    }
  }
}
