@import '../styles/variables';

html {
  color: $demo-text-color;
  font-size: $demo-font-size;
  font-family: $demo-font-family;
  background: $demo-background;
}

body {
  margin: 0;
}

.slider-demo {
  &__title {
    text-align: center;
  }
}
