@import '../../../styles/variables';

.slider-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  &::after {
    width: 90%;
    height: 2px;
    margin: 30px auto;
    background-color: $demo-secondary-color;
    content: '';
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__desc {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  &__slider {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    box-sizing: border-box;
    width: 45%;
    min-width: 270px;
    padding: 50px;
  }

  &__config {
    width: 45%;
    min-width: 270px;
    height: 60vh;
  }
}
